*.pyc
/build
/dist
/wagtail_qrcode.egg-info
/.coverage
/htmlcov
/.tox
/venv
/.vscode
/site
/test_wagtail_qrcode.db
/node_modules
/test-static
/test-media
.venv
/db.sqlite3
/sandbox
/manage.py
/media
/static
